/*.navbar {*/
    /*border: 0;*/
    /*z-index: 9999;*/
    /*letter-spacing: 4px;*/

/*}*/

#logo {
    display: block;
    height: auto;
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-default{
    /*background-color: #FFEAA7;*/
}

.navbar-brand>img {
    height: 75px;
    width: auto;
}

.brand{
    font-family: 'Pacifico', cursive;
    color: #0079E4;
}
/*.navbar .nav > li > a {*/
    /*line-height: 50px;*/
/*}*/

#vehicleForm {
    margin: 30px auto 15px auto;
}

.vehicleSelect {
    min-width: 80px;
    margin-right: 20px;
}



.circle-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    vertical-align: middle;
    font-size: 30px;
    color: white;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}