#override, #body{
    background-color: white;
}
#logo {
    display: block;
    height: auto;
    padding-top: 0px;
    padding-bottom: 0px;
}
#override #navbar-section{
    height: auto ;
    /*background-color: #ffeaa7;*/
    /*background: linear-gradient(to bottom right, rgb(85, 228, 196), rgb(254, 255, 183))*/
    /*background: linear-gradient(to bottom right, rgb(43, 202, 113), rgb(150, 255, 146));*/
    background: linear-gradient(to bottom right, rgb(14, 82, 227), rgb(10, 203, 227));
    padding-top: 25px;
    padding-bottom: 25px;
}

#override .navbar
{
    /*background-color: #ffeaa7;*/
    background-color: #f6f6f6;
    border: none;
    margin-bottom: 0px;
    padding-bottom: 0px;

}
#intro-text >h1{
     font-family: 'Roboto', sans-serif;
     color: white;
     font-size: 4vw;
}

.navbar-brand>img {
    height: 75px;
    width: auto;
}

.brand{
    font-family: 'Pacifico', cursive;
    color: #0079E4;
}

#landingPage, #section1{
    /*background-color: #ffeaa7;*/
    height: auto;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}


#landingPage, #section2 {
    background-color: #f6f6f6;
}
#landingPage, #busvi-info{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 200%;
}

#landingPage, #submitCalculatorBtn{
    background-color: #2bca7f;

}

#landingPage, #section3{
    background: linear-gradient(to bottom right, rgb(14, 82, 227), rgb(10, 203, 227));
    padding-left: 0;
    padding-right: 0;
    color: white;


}

.error {
    color: #ff0000;
}

#vehicleForm {
    margin: 30px auto 15px auto;
}

.vehicleSelect {
    min-width: 80px;
    margin-right: 20px;
}

.centerByMargin {
    margin: 0 auto;
}




.circle-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    vertical-align: middle;
    font-size: 30px;
    color: white;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

div.modal div.modal-backdrop {
    z-index: 0;
}

.error{
    background-color: #ff706d;
}

/*   Loading spinner CSS  */

.loader,
.loader:before,
.loader:after {
    background: #007EDE;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}
.loader {
    color: #007EDE;
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}
.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader:after {
    left: 1.5em;
}
@-webkit-keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}
@keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

/*  end loading spinner */